.myHTML
{
   width: 100%;
  height: 100%;
  display: inline-block;
   background-color: #DCDCDC;
}
.menu
{
  
  width: 20%;
  height: auto;
  text-align: center;
   float: left;
  
  display: inline-block;
  
}
.Names 
{
  width:100%;
  height: auto;
  text-align: center;
  display: block;
  color: #4169E1;
}
.Photo 
{
  
  margin: 4% 3%;
  
  width: 94%;
  color: #4169E1;
  display: inline;
  
  
}
.picphoto
{
  margin: auto 2%;
 

  float: left;
  width:20%;
  height: auto;
 
  display: inline;
 
  background-color: #FFF;
  
  
  
}
.Information
{
  background-color: #FFF;
  width: 40%;
  height: 300px;
  text-align: center;
  display: inline-block;
 margin: 3% 5%;
}

.wall
{
  float: right;
  background-color: #FFF;
  width: 40%;
  height: 100%;
  padding: 2% 3%;
    text-align: center;
  display: inline-block;
 margin: 3% 12%;
}
@media all and (max-width: 300px)
{
  .menu
  {
    width: 98%;
    
    padding: 2% 2%;
    margin: 2% 2%;
  }
  
  .picphoto
  {
    
    width: 98%;
    margin: 2% 2%;
  }
  .wall
  {
    
    width: 98%;
    margin: 2% 2%;
    float: center;
    
  }
  .Information
  {
    width:98%;
    
    margin: 2% 2%;
  }
  }
